###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.DS_Store

# LEGACY
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/.project
/src/Papyrillio/PapPalBundle/Command/Update/update.ini
/src/Papyrillio/PapPalBundle/Command/Update/sample.xml
/src/Papyrillio/PapPalBundle/Command/Update/update.sql

#NEW
/.env*
/public/thumbnail
/public/sample
