/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/.project
/web/thumbnail
/web/sample
/src/Papyrillio/PapPalBundle/Command/Update/update.ini
/src/Papyrillio/PapPalBundle/Command/Update/sample.xml
