/* global site structure */

/* Dunkelstahlblau #003147 #b34700
Hellblau #0b93d5 #d55d0b
Stahlblau* #0972a5 #e25818
Leuchtblau* #26b3f7 #f78c26
Hellstahlblau #2e7db2 #b26e2e */

body {
  color: white;
  background-color: #222222;
}

div#site {
  color: white;
  background-color: #111111;
}

div#header {
  border-bottom: 0.1em solid #e25818;
}

div#footer {
  border-top: 0.1em solid #e25818;
}

/* global element styling */

a {
  color: #e25818;
}

a:hover {
  color: #f78c26;
}

.highlight {
  color: white;
  border: 1px solid #f78c26;
  background: url('jquery/dark-hive/images/?new=0972a5&w=1&h=100&f=png&q=100&fltr[]=over|textures/04_highlight_hard.png|0|0|20') repeat-x scroll 50% 50% #e25818;
}

.keyword {
  color: #e25818;
}

.keywordBright {
  color: #f78c26;
}

span.action,
.actionHolder span, 
.actionHolder a {
  color: #e25818;
}

span.action:hover,
.actionHolder span:hover, 
.actionHolder a:hover {
  color: #f78c26;
}

/* SAMPLE LIST */

/* SAMPLE SHOW */

div#tiptip_content span{
  color: #e25818;
}

div#tiptip_content span:hover {
  color: #f78c26;
}

/* LOGIN */

form#login input.data{
  border: 0.1em solid #e25818;
}

/* MENUE */

div#navigation ul#menu {
  background-color: #222222;
  border: 1px solid #555555;
}

/* SAMPLE FILTER */

form#filter fieldset {
  background-color: #222222;
  border: 1px solid #555555;
}
