/*<group=hacks>*/

.floating {
  float: left;
}

.clearfix {
	display: inline-table;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Hides from IE-mac \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

#slider,
#texts,
#count {
	/*width: 780px;*/
	/*border: 1px solid #0f0;*/
	margin: 0 auto;
	background-color: #222222;
	border: 1px solid #555555;
  padding: 1em;
  text-align: center;
}

#count {
  border-bottom: none;
}

#texts {
  border-top: none;
}

#slider > div{
  margin: 0 auto;
  text-align: center;
  background: green;
}

#slider .floating {
	margin-top: 10px;
}

#slider ul {
	list-style-type: none;
	width: 690px;
	height: 348px;
	overflow: hidden; /* cl */
	/*border: 1px solid #00f;*/
}

#slider ul li {
	float: left;
	/*border: 1px solid #f00;*/
	width: 320px;
	height: 480px;
	text-align: center;
	margin: 0 6px;
	padding-top: 6px;
}

#slider ul li span,
#slider ul li a {
	/*display: block;*/
	height: auto;
	color: #333;
	text-decoration: none;
}

#slider ul li img {
	display: block;
}

#butleft, #butright {
	padding: 0px;
	margin: 0px;
}
#butleft img, #butright img {
	padding: 0px;
	margin: 0px;
}

#butleft {
	margin-left: 1px;
	margin-right: 4px;
}

#butright {
	margin-left: 4px;
}

#controls {
	width: 100px;
	margin: 0 auto;
}

.text {
	overflow: auto;
	text-align: center;
}
