/* global site structure */

/* Dunkelstahlblau #003147 #b34700
Hellblau #0b93d5 #d55d0b
Stahlblau* #0972a5 #e25818
Leuchtblau* #26b3f7 #f78c26
Hellstahlblau #2e7db2 #b26e2e */

body {
  font-size: 75%;
  background-color: #202020;
}

div#site {
  height: auto !important;
  min-height: 100%;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 0 0 23em;
  color: white;
  background-color: #454545;
  background-image: url('../images/PapPalPapPal.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

div#header {
  background-color: #690102;
  border-bottom: 1px solid #3a0101;
  height: 10em;
  background-image: url('../images/PapPalHand.png');
  background-repeat: no-repeat;
  background-position: center top;
  padding: 1em;
}

div#header a, div#header a:hover,
div#footer a, div#footer a:hover {
  color: white;
  background: none;
  padding: 0;
}

div#content {
  min-height: 100%;
  padding: 1em 1em 5em;
}

div#footer {
  background-color: #690102;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  border-top: 0.1em solid #3a0101;
}

/* global element styling */

a {
  /*color: #990102;*/
  color: white;
}

a:hover {
  /*color: #bc0102;*/
  color: #990102;
}

h3 a {
  background-image: url('../images/link_big.png');
  padding-left: 2em;
}

p {
  padding: 1em;
}

h3, h5 {
  text-align: center;
  width: auto;
  clear: both;
}

h3 span {
  font-size: 75%;
}

.highlight {
  color: #990102;
  line-height: 2em;
  padding: 0.1em 0.4em;
  font-size: 1em;
  border: 1px solid #f0f0f0;
  background: url('jquery/dark-hive/images/?new=0972a5&w=1&h=100&f=png&q=100&fltr[]=over|textures/04_highlight_hard.png|0|0|20') repeat-x scroll 50% 50% #c0c0c0;
}

.keyword {
  font-weight: bold;
  color: #c0c0c0;
}

.keywordBright {
  font-weight: bold;
  color: #f0f0f0;
}

span.action,
.actionHolder span, 
.actionHolder a {
  margin: 0 0 0 0.4em;
  float: right;
  color: #c0c0c0;
  text-decoration: underline;
  cursor: hand;
  cursor: pointer;
  font-size: 1em;
}

span.action:hover,
.actionHolder span:hover, 
.actionHolder a:hover {
  color: #f0f0f0;
}
.ui-widget textarea,
.ui-widget .ui-widget textarea,
.ui-widget textarea.greek,
.ui-widget .ui-widget textarea.greek,
.greek {
    font-family: "Lucida Grande", "Cardo", "Arial Unicode MS", "IFAO-Grec Unicode", "KadmosU", "New Athena Unicode", "Athena Unicode", "Lucida Grande", "Verdana", "Tahoma" !important;
}

/* STATIC PAGES */

div.page {
  font-size: 1.2em;
  width: 600px;
  margin: auto;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 10em;
}

div.home {
  padding: 0;
}

div.about {
  background-image: url('../images/PageAbout.png');
  
}

div.browsingTips {
  background-image: url('../images/PageBrowsingTips.png');
  
}

div.contact {
  background-image: url('../images/PageContact.png');
  
}

/* SAMPLE LIST */

div.sample {
  width: 300px;
  margin: 0 1em 1em 0;
  height: 32em;
  float: left;
  text-align: left;
}

div.sample span.id {
  font-size: smaller;
}

div.sample a {
  background: none;
  padding: 0;
}

/* SAMPLE SHOW */

div.sampleThumbnail{
  float: left;
  text-align: center;
}

img.sample,
table.sample {
  float: left;
}

table.sample {
  width: 66%;
}

img.sampleMini{
  cursor: hand;
  cursor: pointer;
}

table.sample {
  float: left;
  margin: 0 0 0 1em;
}

table.sample th{
  font-weight: bold;
  font-variant: small-caps;
  padding: 0 1em 0 0;
}

th.title,
td.title {
  font-size: larger;
  font-weight: bold;
}

div#tiptip_content a,
div#tiptip_content span{
  cursor: hand;
  cursor: pointer;
  color: #c0c0c0;
  padding: 0;
  background: none;
  text-decoration: none;
}

div#tiptip_content a,
div#tiptip_content span:hover {
  color: #f0f0f0;
}

/* LOGIN */

form#login {
  margin: 0 auto;
  width: 19em;
  padding: 10em;
}

form#login label{
  float: left;
  margin: 0.2em;
}

form#login input{
  float: right;
  margin: 0.2em;
}

form#login input.data{
  border: 0.1em solid #c0c0c0;
  width: 12em;
}

/* MENUE */

div#navigation {
  float: left;
  position: absolute;
  z-index: 999;
}

div#navigation ul {
  list-style-type: none;
  margin: 0;
  color: #202020;
}

div#navigation ul a, div#navigation ul a:hover{
  color: #202020;
}

div#navigation ul#menu {
  width: 20em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
}

div#navigation ul#menu li {
  margin: 0;
}

div#header span{
  padding: 0 0.4em 0 0.4em;
}

div#header span, a.pageLinkTop {
  float: right;
}

/* SAMPLE FILTER */

form#filter fieldset {
  padding: 1em;
  border: 1px solid #c0c0c0;
  background-color: #303030;
}

form#filter legend{
  padding: 0.2em;
  font-weight: bold;
  font-variant: small-caps;
}
form#filter button,
form#filter input,
form#filter select,
form#filter label{
  margin: 0.2em 0 0 0.2em;
  display: block;
  float: left;
  width: 10em;
}

form#filter label.notBefore,
form#filter label.notAfter,
form#filter label.ddb{
  text-align: right;
}


form#filter input{
  padding: 0;
}

form#filter label{
  width: 8em;
}

form#filter input#form_title,
form#filter input#form_keywords,
form#filter input#form_provenance{
  width: 30em;
}

form#filter input#form_dateWhen,
form#filter input#form_dateNotBefore,
form#filter input#form_dateNotAfter,
form#filter input#form_hgv,
form#filter input#form_ddb{
  width: 4em;
}

form#filter button#reset,
form#filter input#submit {
  float: right;
}

/* FOSUSer */

div#fos_user_profile_form label.required{
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

div#fos_user_change_password_form label,
div#fos_user_profile_form_user label,
label[for='fos_user_profile_form_current'] {
  display: block;
  float: left;
  width: 12em;
}


div#fos_user_change_password_form input,
div#fos_user_profile_form_user input,
input#fos_user_profile_form_current {
  width: 24em;
}