{% extends '::base.html.twig' %}

{% block body %}

  <div class="page about">
  
    <p>Individual letter-forms have features that are characteristic of the writing styles of the periods in which they originate and to that extent one might say that letters have their own histories. These features are more pronounced when the letters are written in cursive script than they are in capital or bookhands.  Still, while someone trained in Greek paleography can identify a tau as typical of the 3rd c. BC, the same person normally cannot say in the absence of other evidence when precisely the letter was written. Fortunately, many ancient documents preserved on papyrus are dated to the very day. And this makes it possible to understand better how letters were formed in any given period and how they developed over time. PapPal collects dated examples of ancient hands from the 3rd c. BC to the 8th c. AD. Seeing them together, one is in a better position to recognize typical features. At the same time, and as no two hands are identical, comparison of a range of contemporary scripts highlights the many differences that distinguish them.</p> 
  
    <p>PapPal permits users to browse images by several different categories:  year, provenance, title and keyword.  Images can be viewed either as a list in which thumbnails are displayed in rows or as a slideshow.  Links accompanying each text direct the user to the project that hosts the image as well as to a transcription at www.papyri.info.</p>
  
    <p>PapPal asserts no rights over any images that it gathers.  Their use is governed by the licenses of the source projects.</p>
  
    <p>Acknowledgements: we wish to thank Markus Hilgert, Julia Lougovaya, Andrea Joerdens, Roger Bagnall, and Antonia Sarri for their suggestions and support.  Special thanks are also due to Carmen Lanz and Helen Enders for the work that they put into the project.</p>
  
  </div>

{% endblock %}