{% extends '::base.html.twig' %}

{% block body %}

 <div class="page about">
 
  <h5>The Paleography of the Papyri</h5> 
 
  <p>Individual letter-forms as well as larger units of text display paleographical features that are characteristic of the writing styles of the periods in which they originate. These features are often more pronounced when a text is written in cursive script than they are in capital or bookhands. Cursive and semi-cursive writing demonstrates a degree of individuality that is more easily perceived than in non-cursive texts. Thus, viewing documentary papyri dated to different periods provides a fairly clear impression of the basic style of the epoch in question. Ptolemaic hands are generally easy to distinguish from Roman, for example, and 5th and 6th c. script has a character unlike that of the 1st and 2nd c. Yet within these broad chronological contexts we encounter styles and conventions that depend on a range of criteria and circumstances, from the type of text that was recorded to the skill and experience of the writer. One can, for example, often observe distinct differences between the style of a receipt and that of a private letter; a chancery hand will look different from a list of expenditures recorded in the same year; and the Greek script of a native Latin writer will in some cases diverge significantly from that of a native Greek writer. In short, we find an impressive diversity of hands, and this variety frustrates simplistic attempts at a tidy description of the diachronic development of ancient writing. This is not to say that any kind of letter-form can be found in any given period. Quite the contrary, many letter-forms, ligatures, and writing styles are confined to specific places and times. But recognizing the wide spectrum of variations ultimately permits more accurate dating of undated hands, as well as better understanding of the factors that influence specific writing styles.</p>
 
  <p>In order to provide a reliable point of reference for the investigation of ancient writing, PapPal collects dated examples of hands from the 3rd c. BC to the 8th c. AD surviving mainly from Greco-Roman Egypt. Because many ancient documents preserved on papyrus are dated to the very day on which they were recorded, viewing them together brings out features that were typical of a time and, in some cases, of a place of writing. Furthermore, as no two hands are identical, comparison of a range of contemporary scripts also illuminates the variety of writing styles that existed.</p>
 
  <p>The site currently contains primarily Greek papyri. We will soon be adding Greek ostraka and Latin documents.</p>

  <p>PapPal permits users to browse images by several different categories: year, provenance, title and keyword. Images can be viewed either as a list in which thumbnails are displayed in rows or as a slideshow. Links accompanying each text direct the user to the project that hosts the image as well as to a transcription at www.papyri.info. </p>

  <h5>Rights and Permissions</h5>

  <p>PapPal asserts no rights over any images that it gathers. Their use is governed by the licenses of the source projects.</p>

  <h5>Acknowledgements</h5>

  <p>We wish to thank Markus Hilgert, Julia Lougovaya, Andrea Joerdens, Roger Bagnall, James Cowey and Antonia Sarri for their suggestions and support. Special thanks are due to Carmen Lanz and Helen Enders for the work that they put into the project. We also express our gratitude to the many institutions around the world that have made their collections available online. </p>
 
 </div>

{% endblock %}