{% extends '::base.html.twig' %}

{% block body %}

  <div class="page browsingTips">
  
    <p>To search for texts dated BC, enter the year or span of years preceded by ‘-‘.  E.g., to find all papyri dated to 234 BC, enter -234 in the Year box.  In order to find texts from between 234 and 220 enter -234 in the Not Before box and -220 in the Not After box.</p>
  
    <p>Provenance: to find the maximum number of corresponding images, type only the first few letters of a given place name.  For example, enter Oxy instead of Oxyrynchus in order to find Oxyrhynchus, Oxyrhynchites, and Oxyrynchos.</p>
  
    <p>Keywords: currently only keyword searches in German are supported.  Thus, if you would like to see dated hands in contracts, enter “Vertrag” in this box.</p>
    
    <p>Titles or parts of titles should be entered in the language of the original publication (Fragment of a Petition or Quittance de remboursement du prêt de blé).</p>
  
  </div>

{% endblock %}