{% extends '::base.html.twig' %}

{% block body %}

<div style="width: 600px; margin: auto;">
<h3>To send feedback, please contact...</h3>

<h4>... at vero eos et accusam.</h4>

<p>
  Eu massa eget metus cursus viverra
  <br />
  Nullam a elit nunc
  <br />
  Nunc iaculis tincidunt nulla
  <br />
  Id faucibus odio hendrerit at
  <br />
  Vestibulum ac lectus lectus
  <br /> 
  <a href="mailto:stet@clita.kasd">Stet clita kasd gubergren</a>
</p>

<h4>... magna aliquet luctus</h4>

<p>
  Donec eget nisl magna 
  <br />
  Nec ultrices magna 
  <br />
  In hac habitasse platea dictumst 
  <br />
  Mauris tincidunt bibendum lectus 
  <br />
  <a href="mailto:vestibulum@scelerisque.ligula">Sem felis, malesuada id aliquet non</a>
</p>

<p>
  Nulla at mauris nulla, sit amet aliquet massa. Praesent sed elit nec diam tempus fringilla. Morbi ac lorem quis leo ornare adipiscing non ut turpis. Fusce convallis posuere arcu. Fusce vulputate semper augue vitae tempor. Morbi congue imperdiet mollis. Proin a enim ac metus accumsan vestibulum. Phasellus a mollis magna. 
</p>

</div>

{% endblock %}