{% extends '::base.html.twig' %}

{% block body %}

  <div class="page contact">
  
    <p>Questions and suggestions pertaining to this site should be directed to <a href="mailto:rodney.ast@zaw.uni-heidelberg.de">Dr. Rodney Ast</a> (mailto:rodney.ast@zaw.uni-heidelberg.de).</p>
  
  </div>

{% endblock %}